<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href='/css/styles.css'/>
    <link rel='icon' href='/img/weather.png' />
    <script src="/js/app.js"></script>
    <title>About</title>

</head>
<body>
    <div class="content">
        {{>header}}
        <p>This page was created by Patrick Keating. It uses data from mapbox.com and darksky.net.</p>
        <img class='portrait' src='./img/test-image.png' />
    </div>
    {{>footer}}
</body>
</html>